main{
  font-family: sans-serif;
  padding-left: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

app-flower-details{
  margin-left: 3em;
}

h1{
  color: #4caf50;
  text-shadow: 2px 2px 5px #81c784;
}
